<!-- top -->
<div class="top">
    <p class="t_title">一步一思念 一梦一轮回</p>
   	<hr class="thr">
</div>
<!-- con -->
<div class="con">
    <table id="customers">
        <thead>
            <tr>
                <th class="th1">1</th>
                <th class="th2">2</th>
                <th class="th3">3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="<?php echo arU('Index/test'); ?>">Jqury 实现动态更新Select标签</a>
                </td>
                <td>
                    <a href="<?php echo arU(''); ?>">null link</a>
                </td>
                <td>USA</td>
            </tr>
            <tr class="alt">
                <td></td>
                <td></td>
                <td>China</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>USA</td>
            </tr>
            <tr class="alt">
                <td></td>
                <td></td>
                <td>China</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>USA</td>
            </tr>
            <tr class="alt">
                <td></td>
                <td></td>
                <td>Finland</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- bot -->
<div class="bot">
</div>
